.App {
  
  background-color: red;
  height: 400px;
  width: 400px;


}
.semaforo{
  height: 350px;
  width: 150px;
  transform: translate(20%,0%);
  border-radius: 15px;
  background-color: black;
}
div .on {
  opacity: 1;
}

div .off {
  opacity: 0.4;
}

.rojoTrue {
  height: 90px;
  width: 90px;
  transform: translate(35%,10%);
  border-radius: 50px;
  background-color: red;
}
.rojoFalse {
  height: 90px;
  width: 90px;
  transform: translate(35%,10%);
  border-radius: 50px;
  background-color: red;
  box-shadow: 0 0 35px gold;
}
.amarilloTrue{
  height: 90px;
  width: 90px;
  transform: translate(35%,40%);
  border-radius: 50px;
  background-color: yellow;

}
.amarilloFalse{
  height: 90px;
  width: 90px;
  transform: translate(35%,40%);
  border-radius: 50px;
  background-color: yellow;
  box-shadow: 0 0 35px gold;

}
.verdeTrue{
  height: 90px;
  width: 90px;
  transform: translate(35%,70%);
  border-radius: 50px;
  background-color: green;

}
.verdeFalse{
  height: 90px;
  width: 90px;
  transform: translate(35%,70%);
  border-radius: 50px;
  background-color: green;
  box-shadow: 0 0 35px gold;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
